<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="rightMoveUrl" value="http://www.rightmove.co.uk/house-prices/"/>
    <add key="zooplaUrl" value="https://www.zoopla.co.uk/house-prices/"/>
    <add key="towns" value="Chesham|Berkhamsted|Tring|Hemel Hempstead|Redbourn|Luton"/>
    <add key="excelFileName" value="Prices.xlsx"/>
    <add key="excelFilePath" value="C:\temp\"/>
  </appSettings>
</configuration>